@tailwind base;
@tailwind components;
@tailwind utilities;

@import "bytemd/dist/index.css";
@import "./bytemd.css";
@import "./github.css";
@import "./github-dark.css";
@import "./code-block.css";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --selection-background: 196 100% 50% / 0.15;
    --selection-color: 196 100% 40%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --selection-background: 196 100% 50% / 0.2;
    --selection-color: 196 100% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* 适配 shiki 深色模式 */
html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

/* 选中文本样式 */
::selection {
  color: hsl(var(--selection-color));
  background: hsl(var(--selection-background));
  text-shadow: none;
}

::-moz-selection {
  color: hsl(var(--selection-color));
  background: hsl(var(--selection-background));
  text-shadow: none;
}

/* 修复首页 NickName 复制颜色失效问题 */
.custom-strong::selection {
  color: hsl(var(--selection-color)) !important;
  background: hsl(var(--selection-background)) !important;
  text-shadow: none !important;
}

.custom-strong::-moz-selection {
  color: hsl(var(--selection-color)) !important;
  background: hsl(var(--selection-background)) !important;
  text-shadow: none !important;
}

/* 搜索结果高亮 */
.search-result__item em {
  @apply mx-1 font-normal not-italic;
  color: var(--selection-color);
  background: var(--selection-background);
}
